<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>david_koerper_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,530},{89,174}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{89,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,487},{89,174}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,4},{89,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,485},{91,174}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{91,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{91,174}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{91,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,392},{91,174}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{91,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,354},{93,174}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{93,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,297},{93,174}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{93,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,297},{95,174}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{95,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,200},{95,174}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{95,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,200},{95,174}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{95,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,178},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,101},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,101},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
		<key>david_koerper_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,174}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{97,174}}</string>
			<key>sourceSize</key>
			<string>{97,178}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>alice_example6__koerper_0.pvr.ccz</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bb68276f7cfce962b13a2ba36274784b$</string>
		<key>textureFileName</key>
		<string>alice_example6__koerper_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
